@import '../../style/style.css';

.noteInput {
  margin-top: 20px;
  background-color: var(--white);
  padding: 10px 10px 5px;
  box-shadow: 3px 2px var(--grey);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  min-height: 50px;
}

.formContainer {
  margin-top: 15px;
}

.errorInputMessage {
  color: red;
  font-weight: bold;
  margin-bottom: 5px;
}

@media only screen and (min-width: 789px) {
  .noteInput {
    width: max-content;
  }
}